{% extends "base.html" %}
<!-- This template extends from "base.html" -->

{% block title %}Account{% endblock %}
<!-- This block sets the title of the page to "Account" -->

{% block content %}
<!-- This block contains the main content for the page -->
<h1 class="mt-4">Account</h1>
<!-- Header for the account page -->
<p><strong>Username:</strong> {{ current_user.username }}</p>
<!-- Display the current user's username -->
<p><strong>Email:</strong> {{ current_user.email }}</p>
<!-- Display the current user's email -->
<p><strong>Member Since:</strong> {{ current_user.date_joined.strftime('%B %d, %Y') }}</p>

<p><strong>Password:</strong>************</p>

<!-- Display the date the user joined -->
<a href="{{ url_for('update_account', user_id=current_user.id) }}" class="btn btn-primary">Update Account</a>
<!-- Link to the update account page with the current user's ID -->
{% endblock %}
<!-- End of content block -->
