{% extends "base.html" %}
<!-- This template extends from "base.html" -->

{% block title %}Home{% endblock %}
<!-- This block sets the title of the page to "Home" -->

{% block content %}
<h1 class="mt-4">Blog Posts</h1>

<!-- button to create a new post-->
<a class="btn btn-primary mb-4" href="{{ url_for('new_post') }}">Create New Post</a>

{% if posts %}
    <form method="POST" action="">
    {% for post in posts %}
        <div class="card my-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.content }}</p>
                <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ post.date_posted.strftime('%Y-%m-%d') }} by <a href="#">{{ post.author.username }}</a>
            </div>
            
        </div>
    {% endfor %}
    </form>
{% else %}
    <p>No posts available.</p>
{% endif %}

{% endblock %}